@media (max-width: 1024px) {

    .container {
        padding: 20px;
    }

    .container .logo img {
        height: 40px;
    }

    .container .main-image {
        width: 55%;
        margin: 0;
    }

    .container .main-info {
        padding: 10px 0 0 20px;
    }

    .container .main a {
        font-size: 18px;
        padding: 10px 40px;
    }

    .container .main h1 {
        font-size: 28px;
    }

    .container .main p {
        font-size: 17px;
        margin-bottom: 30px;
    }

    .container .social ul {
        padding-right: 30px;
    }
}

@media (max-width: 425px) {
    body {
        background: url('../images/bg-mobile.svg') var(--bg-color) no-repeat;
    }
    
    .container {
        padding: 40px 15px 0;
    }

    .container .logo {
        margin-bottom: 60px;
    }

    .container .logo img {
        height: 35px;
    }

    .container .main {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .container .main-image {
        width: 300px;
    }

    .container .main-info {
        padding: 42px 20px 0;
    }

    .container .main h1 {
        font-size: 24px;
    }

    .container .main p {
        font-size: 16px;
    }

    .container .main a {
        font-size: 14px;
        padding: 10px 64px;
    }

    .container .social ul {
        justify-content: center;
        padding: 20px;
    }

    .container .social a {
        font-size: 15px;
        padding: 7px;
        width: 30px;
        position: relative;
        bottom: 4px;
    }
}